$calculator-bgcolor: #5b5253;
$key-color: #e8e7e7;
$window-close: #fc605c;
$window-minimize: #fcbb40;
$window-maximize: #34c648;
$key-bgcolor: #847d7d;
$key-hover: #908e8e;
$function-key-bgcolor: #6b6364;
$function-key-hover: #b5b5b5;
$operator-bgcolor: #fd9e2b;
$operator-hover: #ffb13a;
$background: #f0f0f0;